<div ng-if="error">
	<span>{{error}}</span>
</div>
<div ng-if="loading == true">
	Loading issues please wait...
</div>
<div class="issue-list" ng-if="loading == false">
	<ul class="issue-list-item">
		<div 
		ng-repeat="issue in displayData.issues.items"
		ng-class="{'issue-open-background': issue.state == 'open', 'issue-closed-background' : issue.state == 'closed' }" class="issue-float-left issue-user"
		ng-click="showIssue(issue)"
		>

			<img ng-src="{{issue.user.avatar_url}}" class="issue-user-img issue-float-left">
			<div style="padding-top:4%">
				<span style="width:100%">>{{issue.title}}</span>
			</div>	
		</div>
	</ul>
</div>
<div class="panel panel-default issue-pannel" ng-if="displayIssue">
	<div class="panel-heading">
		<div>Issue Number:{{displayIssue.number}} - Created on: {{displayIssue.created_at | date}} - Last updated: {{displayIssue.updated_at | date}} - State: {{displayIssue.state}}     <span class="issue-link"><a ng-href="{{displayIssue.html_url}}" target="_blank">Go to issue</a></span>
		</div>
	</div>	
	<div class="panel panel-body issue-pannel-body">
		<div ng-if="displayIssue.body" class="well">{{displayIssue.body}}</div>
		<span ng-if="!displayIssue.body">No description available</span>
	</div>

	<div class="panel panel-default issue-comments">
		<div class="panel-heading">
			Comments
		</div>
		<div class="panel panel-body" style="overflow-y: auto;height:85%;">
			<div ng-repeat="comment in comments" class="comment-container">
				<div class="panel panel-default comment-pannel">
					<div class="panel-heading">
						{{comment.user.login}} - Created at: {{comment.created_at | dateTime}} <span class="issue-link"> <a ng-href="comment.html_url" target="_blank">Go to commnet</a></span>
					</div>
					<div class="panel">
						<a ng-href="{{comment.user.html_url}}">
							<img ng-src="{{comment.user.avatar_url}}" style="width:53px;float:left;">
						</a>
						<div style="overflow-y:auto;max-height:53px">
							{{comment.body}}
						</div>
				</div>
			</div>
		</div>
	</div>

</div>