<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<script src="bower_components/angular/angular.min.js"></script>
	   
	   <link rel="stylesheet" type="text/css" href="information.css">
	   <link rel="stylesheet" type="text/css" href="issues.css">
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	   <script type="text/javascript" src="angularApp.js"></script>

	   
	   <script src="bower_components/Chart.js/Chart.min.js"></script>
	   <script type="text/javascript" src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
	   <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
	   
	  
	</head>
	<body ng-controller="searchCtrl">
		<div class="pannel panel-default">
			<div class="panel panel-body">
				<span>Please enter a domain name to search for it on Github</span>
				</br>
				<input placeholder="Enter domain name" style="width:300px" id="input" ng-model="input"/>
				<button ng-click="search()" class="btn btn-default">Search</button>

				<div ng-if="error">
					<span>{{error}}</span>
				</div>
			</div>		
		</div>
		<div class="panel panel-default result-pannel-width">
			<div class="pannel-height">
				<ul ng-if="searching == false" class="list-group">
					<li ng-repeat="repo in result.items" ng-click="showData(repo)" class="list-group-item">{{repo.full_name}}</li>
				</ul>
				<span ng-if="searching == true" class="result-padding"> Searching GitHub</span>
			</div>
		</div>

		<div class="panel panel-default display-panel">
			<ul class="nav nav-tabs">
			  <li role="presentation" ng-class="{'active': tab == 'info'}"><a href="" ng-click="setTab('info')">Information</a></li>
			  <li role="presentation" ng-class="{'active': tab == 'issue'}"><a href="" ng-click="setTab('issue')">Issues</a></li>
			  <li role="presentation" ng-class="{'active': tab == 'stat'}"><a href="" ng-click="setTab('stat')">Statistics</a></li>
			</ul>


			<div class="panel panel-body pannel-height" ng-if="!displayData">
			</div>

			<div class="panel-heading" ng-if="displayData">
				<span><a ng-href="{{displayData.html_url}}" target="_blank"><u>{{displayData.full_name}}</u></a> - {{displayData.language}}</span>
			</div>

			<div class="panel panel-body pannel-height" ng-if="displayData && tab == 'info'">
				<div class="panel-body pannel-body-height">
					<img ng-src="{{displayData.owner.avatar_url}}" style="max-width:100px;">
					</br>

					<div class="well">{{displayData.description}}</div>

					</div>
				<table class="table table-striped table-bordered">
					<thead>
						<th class="text-allign">Forks count</th>
						<th class="text-allign">Repo size</th>
						<th class="text-allign">Stargazer count</th>
						<th class="text-allign">Open issues count</th>
						<th class="text-allign">Score</th>
					</thead>
					<tbody>
						<tr>
							<td class="text-allign">{{displayData.forks_count}}</td>
							<td class="text-allign">{{displayData.size}}</td>
							<td class="text-allign">{{displayData.stargazers_count}}</td>
							<td class="text-allign">{{displayData.open_issues_count}}</td>
							<td class="text-allign">{{displayData.score}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="panel panel-body pannel-height" ng-if="tab == 'issue'">
				<git-issue display-data="displayData"></git-issue>
			</div>
			<div class="panel panel-body pannel-height" ng-if="tab == 'stat'">
				<statistic-page display-data="displayData"></statistic-page>
			</div>
		</div>	
	</body>
</html>