.result-pannel-width{
	width: 310px;
	max-width: 310px;
	max-height: 563px;
	height: 563px;
	overflow-y:auto;
	overflow-x:auto;
	float: left;
}
.result-padding{
	padding-left:10px;
}
.display-panel{
	max-height: 563px;
	height: 563px;
    width: calc(100% - 310px);
    float: right;
}
.pannel-height{
	max-height: 476px;
	height: 476px;
}
.issue-table{
	max-height: 476px;
    overflow: auto;
}
.information-table{
	border: solid;
	border-width: 1px;
}
.issue-date-table-width{
	width: 6%;
}
.text-allign{
	text-align: center;
}
.pannel-body-height{
	max-height: 200px;
	height: 200px
}