.issue-list{
	max-height: 455px;
	width: 500px;
    overflow: auto;
    float: left;
    border: solid;
    border-width: 1px;
}
.issue-info{
	max-height: 100px;
    float: left;
    height: 100px;
    width: calc(100% - 100px);
}
.issue-pannel{
	width: calc(100% - 500px);
    height: 103%;
    float: right;
}
.issue-pannel-body{
    height: 25%;
    overflow-y: auto;
}
.issue-link{
	float: right;
}
.issue-float-left{
	float: left;
}
.issue-user{
	max-height: 100px; 
	width:100%;
	margin-bottom: 10px;
}
.issue-user-img{
	max-width:100px;
	width: 100%
}
.issue-list-item{
	margin-left: -40px;
    font-size: 12px;
}
.issue-open-background{
	background-color: lightcoral;
}
.issue-closed-background{
	background-color: lightgreen;
}
.issue-comments{
	height: 56%;
	max-height: 56%;
}
.comment-container{
	height: 100px;
	margin-bottom: 10px;
}
.comment-pannel{
	height: 100px;
	max-height: 100px;
}